<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Todo</title>
</head>
<body>
    <h1>Create New Todo</h1>
    
    <!-- <form action="/newTodo" method="POST">
        <input type="text" name="todo"/>
        <button type="submit">Add Todo</button>
    </form> -->

    <form action="/newTodo" method="POST" class="add-form">
            <input type="text" name="task" placeholder="Add a new task..." required>
    <button type="submit">Add</button>
    </form>

</body>
</html>